.landing__footer
  background-color: #0e0e0e
  font-size: 13px
  color: #fff
  padding: 40px 0

.footer__logo
  @media (max-width: $screen-xs)
    margin: 0 auto 20px auto
    text-align: center

  @media (max-width: $screen-sm)
    margin: 0 auto 20px auto
    text-align: center

.footer__copyright
  text-align: right

  @media (max-width: $screen-xs)
    text-align: center

  @media (max-width: $screen-sm)
    text-align: center