.apps__icon
  display: inline-block
  width: 40px
  height: 40px
  border: 1px solid #e42626
  border-radius: 5px
  margin: 0 0 0 6px

  @media (max-width: $screen-xs)
    width: 30px
    height: 30px
    margin: 0 .125rem /* 2/16 */

  &:hover
    background-color: #e42626 !important

.fixed-top
  @include transition(0.2s ease)
  border-bottom: 1px solid #f4f4f4
  padding: .625rem /* 10/16 */ 0
  position: fixed
  top: 0
  left: 0
  width: 100%
  background: #ffffff
  z-index: 100
  
.topmnu--line
  font-size: 12px
  border-bottom: 1px solid #f4f4f4
  padding: .625rem /* 10/16 */ 0

  &__phone
    a
      font-size: 14px
      color: #000000
      text-decoration: underline

      &:hover
        text-decoration: none

  .wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

  .line__list
    list-style: none
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    margin: .0625rem /* 1/16 */ 0 0 0

    @media (max-width: $screen-sm)
      padding: 0rem /* 0/16 */

    &--link
      margin: 0 1.8125rem /* 29/16 */ 0 0

      @media (max-width: $screen-lg)
        margin: 0 .375rem /* 6/16 */ 0 0

      @media (max-width: $screen-md)
        margin: 0 1.6875rem /* 27/16 */ 0 0

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5)
          display: none

      @media (max-width: $screen-sm)
        margin: 0 1.6875rem /* 27/16 */ 0 0

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5)
          display: none

        &:last-child
          margin-right: 0

      @media (max-width: $screen-xs)
        display: none
        

      a
        text-decoration: none
        color: $main-color

        &:hover
          color: $accent-color

  &__button
    font-size: 12px
    font-weight: 700
    color: #ffffff
    border-radius: 5px
    width: 140px
    height: 30px
    line-height: 30px
    text-align: center
    background: rgba(228,38,38,1)
    background: linear-gradient(to bottom,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)

    &:hover
      color: #ffffff
      text-decoration: none
      outline: 0
      background: linear-gradient(to bottom,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)

    &:active
      outline: 0

.logomnu--second
  padding-top: .625rem /* 10/16 */
  padding-bottom: 1.625rem /* 10/16 */
  margin-top: .625rem /* 10/16 */

  .wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    @media (max-width: $screen-sm)
      flex-direction: column

    @media (max-width: $screen-xs)
      flex-direction: column

  &__noty
    font-size: 14px

    //@media (max-width: $screen-md)
      //width: 135px
      //text-align: center !important

    @media (max-width: $screen-sm)
      margin: 1rem /* 16/16 */ 0 0 0

    @media (max-width: $screen-xs)
      margin: 1rem /* 16/16 */ 0 0 0
      font-size: 12px

  &__phone
    font-size: 16px
    margin: 0 -100px 0 0

    @media (max-width: $screen-md)
      margin: 0

    @media (max-width: $screen-sm)
      margin: .8125rem /* 13/16 */ 0

    @media (max-width: $screen-xs)
      margin: .8125rem /* 13/16 */ 0
      font-size: 14px

  &__apps
    .android
      @extend .apps__icon
      background: url("../images/android.png") center center no-repeat

      &:hover
        background: url("../images/android_hover.png") center center no-repeat

    .apple
      @extend .apps__icon
      background: url("../images/apple.png") center center no-repeat

      &:hover
        background: url("../images/apple_hover.png") center center no-repeat

.background__content
  width: 100%
  min-height: 610px
  background: url("../images/header_bg.png") center no-repeat
  background-size: cover

  @media (max-width: $screen-md)
    padding: 0 .625rem /* 10/16 */

  @media (max-width: $screen-sm)
    min-height: 385px
    padding: 0 .625rem /* 10/16 */

  @media (max-width: $screen-xs)
    min-height: 385px
    padding: 0 .625rem /* 10/16 */

  &--title
    width: 50%
    padding: 7.6875rem /* 123/16 */ 0 0 0

    @media (max-width: $screen-md)
      padding: 7.6875rem /* 123/16 */ 0 0 0

    @media (max-width: $screen-sm)
      width: 400px
      padding: 3.625rem /* 58/16 */ 0 0 0

    @media (max-width: $screen-xs)
      width: 100%
      padding: 3.625rem /* 58/16 */ 0 0 0
      text-align: center


    h1
      color: #ffffff
      font-size: 28px
      font-weight: 700
      display: block
      text-transform: none
      margin: 0 0 3.125rem /* 50/16 */ 0

      @media (max-width: $screen-sm)
        font-size: 20px
        margin: 0 0 1.625rem /* 26/16 */ 0

      @media (max-width: $screen-xs)
        font-size: 20px
        margin: 0 0 1.625rem /* 26/16 */ 0

    h2
      color: #ffffff
      font-size: 23px
      font-weight: 400
      line-height: 1.333
      margin: 0 0 3.875rem /* 62/16 */ 0

      @media (max-width: $screen-sm)
        font-size: 17px
        margin: 0 0 2.625rem /* 42/16 */ 0

      @media (max-width: $screen-xs)
        font-size: 17px
        margin: 0 0 2.625rem /* 42/16 */ 0

  &--btn
    padding: 1.1rem 1rem
    font-size: 18px
    font-weight: 600
    border: 0
    text-align: center
    background: rgba(228,38,38,1)
    background: linear-gradient(to bottom,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)

    @media (max-width: $screen-xs)
      font-size: 13px

    &:hover
      outline: 0
      background: linear-gradient(to bottom,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)

    
    
