.modal
  &-title
    font-size: 18px
    font-weight: 700
    margin-bottom: 1rem

  &-header
    padding: 2rem 5rem
    padding-bottom: 1rem
    border-bottom: 0
    justify-content: center

    h1
      text-align: center !important
      color: $accent-color
      font-size: 25px
      font-weight: 600
      margin-bottom: 1rem

    h2
      text-align: center
      color: #000000
      font-size: 14px
      font-weight: 400

    span.close
      position: absolute
      right: 2.5rem
      top: 1.4rem
      font-size: 3rem
      font-weight: 300
      color: #000000
      text-shadow: none
      outline: none
      opacity: 1 !important

  &-content
    border-radius: 0 !important

    label
      font-size: 13px
      font-weight: 300

    .form-control
      padding: 1.5rem
      margin-bottom: 1rem
      font-weight: 300

      &:focus
        border-color: #cccccc
        -webkit-box-shadow: none
        box-shadow: none

    span
      margin-top: 1rem
      text-align: center
      display: block
      font-size: 12px
      font-weight: 300

    .btn
      font-weight: 600
      font-size: 18px
      border: none
      padding: 1rem
      background: rgba(228,38,38,1)
      background: -webkit-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -moz-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -ms-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -o-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(228,38,38,1)),color-stop(100%,rgba(193,11,11,1)))
      background: linear-gradient(to bottom,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)

      &:hover
        background: rgba(193,11,11,1)
        background: -webkit-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -moz-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -ms-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -o-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(193,11,11,1)),color-stop(100%,rgba(228,38,38,1)))
        background: linear-gradient(to bottom,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)

  &-body
    padding: 0 5rem 2rem

  &-form
    .form-control
      margin-top: 0 !important
      padding: 1.375rem 0.75rem
      font-size: 13px

    .btn
      font-size: 14px
      font-weight: 500
      text-transform: uppercase
      padding: 0.8rem 4rem
      width: 100%
      border: 0
      box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1)

      &.btn-primary
        background-color: #68b0c9 !important