.section
  padding-top: 6rem
  padding-bottom: 3rem

  @media (max-width: $screen-sm)
    padding-top: 3rem

  @media (max-width: $screen-xs)
    padding-top: 2rem
  
  &__content
    padding: 0 .625rem /* 10/16 */

    &--title
      color: #1c1c1c
      font-size: 30px
      font-weight: 700
      line-height: 22px
      letter-spacing: 0.3px

      @media (max-width: $screen-sm)
        font-size: 22px
        text-align: center

      @media (max-width: $screen-xs)
        font-size: 17px
        text-align: center

    &--text
      line-height: 1.25
      width: 90%
      margin: 0 auto 20px auto
      font-size: 18px

      @media (max-width: $screen-xs)
        font-size: 14px !important
        line-height: 1.3