.section--about-services
  width: 100%
  min-height: 600px
  background: url("../images/about/about_bg.png") center center no-repeat
  background-size: cover

  @media (max-width: $screen-xs)
    background-position: 75% 50%
    background-size: auto 100%

  .section__content
    text-align: center
    color: #ffffff

    &--title
      margin: 0 0 3.75rem /* 60/16 */ 0

      @media (max-width: $screen-xs)
        margin: 0 0 2.125rem /* 34/16 */ 0

      &.light--color
        color: #ffffff

    &--text
      line-height: 1.25
      width: 90%
      margin: 0 auto 20px auto
      font-size: 18px

.services-about__container
  .numbers
    margin: 4.4375rem /* 71/16 */ 0 0 0

    @media (max-width: $screen-xs)
      margin: 0

    &__card
      display: flex
      flex-direction: column
      margin-bottom: 2rem

      @media (max-width: $screen-xs)
        margin-right: .625rem /* 10/16 */

      &--cnt
        text-align: center
        color: #ffffff
        font-size: 40px
        margin: 0 0 .625rem /* 10/16 */ 0

      &--desc
        line-height: 1.375

        @media (max-width: $screen-xs)
          font-size: 13px


