.section--benefits
  .section__content
    text-align: center

    &--title
      margin: 0 0 4.9375rem /* 79/16 */ 0
      line-height: 1.19
      letter-spacing: 0.3px

      @media (max-width: $screen-xs)
        margin: 0rem

.benefits__container
  .container
    max-width: 1100px
    margin: auto !important

  .benefits__wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap

    @media (max-width: $screen-sm)
      flex-direction: column

    @media (max-width: $screen-xs)
      flex-direction: column

  .benefits__list
    display: flex
    flex-direction: column
    margin-bottom: 2rem
    flex: 1 1 auto
    padding-left: 1rem

    @media (max-width: $screen-xs)
      padding-left: 0

  .benefits__item
    padding: .9375rem /* 15/16 */ 0
    border-bottom: 1px solid #e8e8e8
    font-size: .875rem /* 14/16 */
    justify-content: center
    align-items: center

    //@media (max-width: $screen-xs)
      //text-align: center !important

    strong
      font-size: .9375rem /* 15/16 */

    &.is-colored
      background-color: #26b83a
      color: #ffffff

    &--icon
      margin: 0 .9375rem /* 15/16 */ 0 0
      width: 20px

    &--btn
      padding: 1.3rem 1rem
      margin: 2rem 0 0 0
      font-size: 18px
      font-weight: 600
      border: 0
      text-align: center
      background: rgba(228,38,38,1)
      background: linear-gradient(to bottom,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)

      @media (max-width: $screen-xs)
        font-size: 13px

      &:hover
        outline: 0
        background: linear-gradient(to bottom,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)