.section--contacts
  background-color: #f5f5f5
  padding: 0

  @media (max-width: $screen-xs)
    padding: 0

  @media (max-width: $screen-sm)
    padding: 0

  @media (max-width: $screen-md)
    padding: 0

  .contact__forma
    padding: 0 75px

    @media (max-width: $screen-xs)
      padding: 0

    @media (max-width: $screen-sm)
      padding: 0

    h1
      font-size: 18px
      font-weight: 700
      margin-bottom: 2rem

    label
      font-size: 13px
      font-weight: 300

    .form-control
      padding: 1.5rem
      margin-bottom: 1rem
      font-weight: 300

      &:focus
        border-color: #cccccc
        -webkit-box-shadow: none
        box-shadow: none

    span
      margin: 2rem 0 2rem 0
      text-align: center
      display: block
      font-size: 14px
      font-weight: 500

    .btn
      font-weight: 600
      font-size: 18px
      border: none
      padding: 1rem
      background: rgba(228,38,38,1)
      background: -webkit-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -moz-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -ms-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -o-linear-gradient(top,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)
      background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(228,38,38,1)),color-stop(100%,rgba(193,11,11,1)))
      background: linear-gradient(to bottom,rgba(228,38,38,1) 0,rgba(193,11,11,1) 100%)

      &:hover
        background: rgba(193,11,11,1)
        background: -webkit-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -moz-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -ms-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -o-linear-gradient(top,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)
        background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(193,11,11,1)),color-stop(100%,rgba(228,38,38,1)))
        background: linear-gradient(to bottom,rgba(193,11,11,1) 0,rgba(228,38,38,1) 100%)

  .contact__info
    padding: 62px 75px
    background: #fff

    h2
      margin: 0 0 68px 0
      font-weight: 700

      @media (max-width: $screen-xs)
        text-align: center
        font-size: 18px
        margin: 0 0 2.375rem /* 38/16 */ 0

    p
      font-size: 12px

      @media (max-width: $screen-xs)
        text-align: center

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7)
        font-size: 15px

      span
        font-size: 18px

        a
          font-weight: 500

    strong
      font-size: 18px

    strong, a
      display: block
      margin: 0 0 .6875rem /* 11/16 */ 0
      color: #000000
      text-decoration: underline
      font-weight: 700

      &:hover
        text-decoration: none
