.section--consultation
  width: 100%
  min-height: 470px
  background: url("../images/consultation/consultation_bg.png") center no-repeat
  background-size: cover

  @media (max-width: $screen-xs)
    min-height: auto 

  .section__content
    text-align: center

    &--title
      margin: 0 0 4.9375rem /* 79/16 */ 0
      line-height: 1.19
      letter-spacing: 0.3px

    .consultation
      &__left
        text-align: left
        color: #ffffff

        &--title
          margin: 0 0 4.9375rem /* 79/16 */ 0
          font-size: 30px
          font-weight: 600
          letter-spacing: 1.5px

          @media (max-width: $screen-xs)
            margin-bottom: 10px
            font-size: 15px

      &__list
        list-style: decimal
        margin: 4.6875rem /* 75/16 */ 0 0 1.1875rem /* 19/16 */
        padding: 0
        color: #e41e1e
        font-weight: 600

        @media (max-width: $screen-xs)
          margin: 1.6875rem /* 75/16 */ 0 0 1.1875rem /* 19/16 */

        &--item
          padding: 0 0 0 1rem /* 16/16 */
          margin: 0 0 1.3125rem /* 21/16 */ 0
          line-height: 1.25
          font-size: 1.125rem /* 18/16 */

          @media (max-width: $screen-xs)
            font-size: 14px

          span
            color: #ffffff
            font-weight: normal

          a
            color: #ffffff
            text-decoration: underline
            
            &:hover
              text-decoration: none

      &__right
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: center
        margin-top: 4rem

        @media (max-width: $screen-sm)
          margin-top: 1rem
          justify-content: space-evenly
          flex-direction: row

        @media (max-width: $screen-xs)
          margin-top: 1rem
          flex-direction: row

        &--image
          margin-bottom: 2.5rem

          @media (max-width: $screen-sm)
            margin-bottom: 0rem
            margin-right: .9375rem /* 15/16 */

          @media (max-width: $screen-xs)
            margin-bottom: 0rem
            margin-right: .9375rem /* 15/16 */