.section--services-lot
  background-color: #f5f5f5

  @media (max-width: $screen-sm)
    padding-bottom: 0rem

  .section__content
    &--title
      margin: 0 0 4.6875rem /* 75/16 */ 0

      @media (max-width: $screen-sm)
        margin: 0 0 2.625rem /* 42/16 */ 0

.services-lot__container
  .services__lots
    margin-bottom: 4rem
    
  .lots__card
    display: flex
    justify-content: space-between
    flex-direction: column
    align-items: center
    justify-content: center
    height: 200px

    @media (max-width: $screen-sm)
      margin: 0 0 1.6875rem /* 27/16 */ 0

    @media (max-width: $screen-xs)
      margin: 0 0 1.6875rem /* 27/16 */ 0

    &--image
      margin: 0 0 3.0625rem /* 49/16 */ 0

    &--desc
      text-align: center
      font-size: .9375rem /* 15/16 */