.section--partners
  padding: 5.8125rem /* 93/16 */ 0

  @media (max-width: $screen-xs)
    padding: 2.6875rem /* 43/16 */ 0

  @media (max-width: $screen-sm)
    padding: 2.6875rem /* 43/16 */ 0

  .section__content
    text-align: center
    //padding: 3rem

    &--title
      margin: 0 0 4.9375rem /* 79/16 */ 0
      line-height: 1.19
      letter-spacing: 0.3px

      @media (max-width: $screen-sm)
        margin: 0

      @media (max-width: $screen-xs)
        margin: 0

.partners__container
  .partners-brands
    position: relative
    display: flex
    flex-direction: row
    justify-content: center

    @media (max-width: $screen-sm)
      width: 85%
      margin: 2.25rem /* 36/16 */ auto 0 auto

    @media (max-width: $screen-xs)
      width: 80%
      margin: 2.25rem /* 36/16 */ auto 0 auto

    &__slide
      width: 220px
      margin: 0 1.25rem /* 20/16 */ 0 0
      opacity: .6
      padding: .9375rem /* 15/16 */ 0
      position: relative
      font-size: .75rem /* 12/16 */
      color: #000
      text-align: center
      line-height: .9375rem /* 15/16 */
      cursor: pointer
      transition: all .3s ease

      &:hover
        opacity: 1

        .partners-brands__slide,
        .partners-brands__slide--description
          opacity: 1

      &--text
        text-decoration: underline

      &--description
        display: flex
        justify-content: center
        align-items: center
        opacity: 0
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: #26b83a
        padding: 0 23px
        color: #fff
        transition: all .3s ease

        p
          margin-top: 0
          margin-bottom: 0

          @media (max-width: $screen-sm)
            font-size: 12px

          @media (max-width: $screen-xs)
            font-size: 9px

    // Slick Slide
    .slick-slide
      box-sizing: border-box

    // Slick Carousel Arrows
    button
      margin: 0
      padding: 0
      background: none
      border: none
      border-radius: 0
      outline: none
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none

    .slide-arrow
      position: absolute
      top: 50%
      margin-top: -.9375rem /* 15/16 */
      background-image: url('../images/arrows.png')
      z-index: 3

    .prev-arrow
      left: -5.625rem /* 90/16 */
      width: 20px
      height: 14px
      background-position-x: 0px
      background-position-y: 0px

      @media (max-width: $screen-md)
        left: 1.25rem /* 20/16 */

      @media (max-width: $screen-sm)
        left: -1.625rem /* 26/16 */

      @media (max-width: $screen-xs)
        left: -1.625rem /* 26/16 */
      
      &:hover
        background-position: 0 -14px

    .next-arrow
      right: -5.625rem /* 90/16 */
      width: 20px
      height: 14px
      background-position-x: -20px
      background-position-y: 0px

      @media (max-width: $screen-md)
        right: 1.25rem /* 20/16 */

      @media (max-width: $screen-sm)
        right: -1.625rem /* 26/16 */

      @media (max-width: $screen-xs)
        right: -1.625rem /* 26/16 */
      
      &:hover
        background-position: -20px -14px