.section--reviews
  background-color: #f5f5f5
  padding: 5.8125rem /* 93/16 */ 0

  @media (max-width: $screen-xs)
    padding: 0

  @media (max-width: $screen-sm)
    padding: 0

  .section__content
    text-align: center
    padding: 2.8125rem /* 45/16 */ 0

    &--title
      margin: 0 0 4.9375rem /* 79/16 */ 0
      line-height: 1.19
      letter-spacing: 0.3px

      @media (max-width: $screen-sm)
        margin: 0 0 1.625rem /* 26/16 */ 0

      @media (max-width: $screen-xs)
        margin: 0 0 1.625rem /* 26/16 */ 0


.reviews__container
  .reviews-navigation
    &--is-open
      border-radius: 5px
      width: 100%
      text-align: left
      background-color: #fdfdfd
      background-image: url("../images/triangle.png");
      background-position: 95% 50%
      background-repeat: no-repeat
      color: #313131
      padding: 1rem /* 16/16 */ 0 1rem /* 16/16 */ 1.25rem /* 20/16 */
      display: none
      font-size: .875rem /* 14/16 */
      font-weight: 700
      text-transform: uppercase
      cursor: pointer

      @media (max-width: $screen-xs)
        display: block

    &__list
      list-style: none
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      text-transform: uppercase
      margin: 0 0 4.5rem /* 72/16 */ 0
      padding: 0
      font-size: .875rem /* 14/16 */

      @media (max-width: $screen-sm)
        margin: 0
        
      
      @media (max-width: $screen-xs)
        flex-direction: column
        margin: .3125rem /* 5/16 */ 0 0 0
        padding: .625rem /* 10/16 */ 0
        text-align: left
        border-radius: .3125rem /* 5/16 */
        background-color: #fdfdfd


      &--item
        padding: .625rem /* 10/16 */ .75rem /* 12/16 */
        margin: 0 .25rem /* 4/16 */
        border-radius: .3125rem /* 5/16 */
        cursor: pointer
        font-weight: 700

        @media (max-width: $screen-sm)
          padding: .3125rem /* 5/16 */
          font-size: .6875rem /* 11/16 */

        @media (max-width: $screen-xs)
          border-radius: 0
          padding: .3125rem /* 5/16 */ 0 .3125rem /* 5/16 */ 1.25rem /* 20/16 */
          font-size: 12px

        &:hover
          color: $accent-color

        &.is-active
          box-shadow: 0 0 0 .125rem /* 2/16 */ $accent-color
          color: $accent-color

          @media (max-width: $screen-xs)
            box-shadow: none

  .reviews-videos
    position: relative
    // display: flex
    // flex-direction: row
    // justify-content: center
    @media (max-width: $screen-sm)
      width: 85%
      margin: 2.25rem /* 36/16 */ auto 0 auto

    @media (max-width: $screen-xs)
      width: 80%
      margin: 2.25rem /* 36/16 */ auto 0 auto

    &__slide
      position: relative
      margin: 0 1.25rem /* 20/16 */ 0 0
      width: 300px
      font-size: .8125rem /* 13/16 */

      @media (max-width: $screen-xs)
        margin: 0 1.875rem /* 30/16 */

      &--mp4
        position: relative

        img
          width: 100%

        &.play
          position: absolute
          left: 1.1875rem /* 19/16 */
          bottom: 1.375rem /* 22/16 */
          background-image: url('../images/play.png')
          width: 25px
          height: 25px

      &--text
        margin: 1.125rem /* 18/16 */ 0 0 0
        font-size: .8125rem /* 13/16 */
        text-align: left

        @media (max-width: $screen-xs)
          font-size: 12px

    &__url
      color: #313131
      text-decoration: none

      &:hover
        color: $accent-color

    // Slick Slide
    .slick-slide
      @media (max-width: $screen-sm)
        width: 39vw
        box-sizing: border-box

      @media (max-width: $screen-xs)
        width: 50vw
        box-sizing: border-box

    // Slick Carousel Arrows
    button
      margin: 0
      padding: 0
      background: none
      border: none
      border-radius: 0
      outline: none
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none

    .slide-arrow
      position: absolute
      top: 50%
      margin-top: -.9375rem /* 15/16 */
      background-image: url('../images/arrows.png')
      z-index: 3

      @media (max-width: $screen-md)
        top: 40%

    .prev-arrow
      left: -5.625rem /* 90/16 */
      width: 20px
      height: 14px
      background-position-x: 0px
      background-position-y: 0px

      @media (max-width: $screen-md)
        left: 1.25rem /* 20/16 */

      @media (max-width: $screen-sm)
        left: -1.625rem /* 26/16 */

      @media (max-width: $screen-xs)
        left: -1.625rem /* 26/16 */
      
      &:hover
        background-position: 0 -14px

    .next-arrow
      right: -5.625rem /* 90/16 */
      width: 20px
      height: 14px
      background-position-x: -20px
      background-position-y: 0px

      @media (max-width: $screen-md)
        right: 1.25rem /* 20/16 */

      @media (max-width: $screen-sm)
        right: -1.625rem /* 26/16 */

      @media (max-width: $screen-xs)
        right: -1.625rem /* 26/16 */
      
      &:hover
        background-position: -20px -14px