.services__container
  margin: 4.9375rem /* 79/16 */ 0 0 0

  @media (max-width: $screen-sm)
    margin: 2.8125rem /* 45/16 */ 0 0 0

  @media (max-width: $screen-xs)
    .container
      .col-6
        max-width: 100% !important

  .service__card
    display: flex
    padding: 0 0 0 1.875rem /* 30/16 */
    margin-bottom: 5.4375rem /* 87/16 */
    cursor: pointer

    @media (max-width: $screen-sm)
      margin-bottom: 1.5rem /* 24/16 */
      //flex-direction: column

    @media (max-width: $screen-xs)
      margin-bottom: 1.5rem /* 24/16 */
      //flex-direction: column


    &:hover
      p
        color: $accent-color

    &--image
      margin: 0 1.125rem /* 18/16 */ 0 0
      width: 50px
      height: 50px

    &--text
      color: #1c1c1c
      font-size: 15px
      font-weight: 400
      line-height: 22px
      letter-spacing: 0.16px

      @media (max-width: $screen-sm)
        //margin-top: 1rem