.section--tariffs
  background-color: #f5f5f5
  //padding: 5.8125rem /* 93/16 */ 0

  @media (max-width: $screen-xs)
    padding: 0

  @media (max-width: $screen-sm)
    padding: 0

  .section__heading
    margin-bottom: 3rem

  .section__content
    padding: 2.8125rem /* 45/16 */ .625rem /* 10/16 */

    &--title
      margin: 0 0 2rem /* 32/16 */ 0
      line-height: 1.19
      letter-spacing: 0.3px

      @media (max-width: $screen-sm)
        margin: 0 0 1.625rem /* 26/16 */ 0

      @media (max-width: $screen-xs)
        margin: 0 0 1.625rem /* 26/16 */ 0

    &--subtitle
      font-size: 1.125rem /* 18/16 */
      line-height: 1.389
      font-weight: 600

      @media (max-width: $screen-xs)
        font-size: .875rem /* 14/16 */
        text-align: center

      @media (max-width: $screen-sm)
        text-align: center

.tariffs__container
  .tariffs-top
    display: flex
    justify-content: space-between
    align-items: center

    @media (max-width: $screen-xs)
      display: none

    @media (max-width: $screen-sm)
      display: none

    h2
      font-size: 16px
      font-weight: 400

      @media (max-width: $screen-sm)
        display: block
        font-size: 14px

      @media (max-width: $screen-xs)
        font-size: 14px

  .tariffs-navigation
    &--is-open
      border-radius: 5px
      width: 100%
      text-align: left
      background-color: #fdfdfd
      background-image: url("../images/triangle.png");
      background-position: 95% 50%
      background-repeat: no-repeat
      color: #313131
      padding: 1rem /* 16/16 */ 0 1rem /* 16/16 */ 1.25rem /* 20/16 */
      display: none
      font-size: .875rem /* 14/16 */
      font-weight: 700
      text-transform: uppercase
      cursor: pointer

      @media (max-width: $screen-xs)
        display: block

    &__list
      list-style: none
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      text-transform: uppercase
      padding: 0
      font-size: .875rem /* 14/16 */

      @media (max-width: $screen-sm)
        margin: 0
        
      
      @media (max-width: $screen-xs)
        flex-direction: column
        margin: .3125rem /* 5/16 */ 0 0 0
        padding: .625rem /* 10/16 */ 0
        text-align: left
        border-radius: .3125rem /* 5/16 */
        background-color: #fdfdfd


      &--item
        padding: .625rem /* 10/16 */ .75rem /* 12/16 */
        margin: 0 .25rem /* 4/16 */
        border-radius: .3125rem /* 5/16 */
        cursor: pointer
        font-weight: 700

        @media (max-width: $screen-sm)
          padding: .3125rem /* 5/16 */
          font-size: .6875rem /* 11/16 */

        @media (max-width: $screen-xs)
          border-radius: 0
          padding: .3125rem /* 5/16 */ 0 .3125rem /* 5/16 */ 1.25rem /* 20/16 */
          font-size: 12px

        &:hover
          box-shadow: 0 0 0 .125rem /* 2/16 */
          color: $accent-color

        &.is-active
          box-shadow: 0 0 0 .125rem /* 2/16 */ $accent-color
          color: $accent-color

          @media (max-width: $screen-xs)
            box-shadow: none

.tariffs-cards__container
  .tariffs-cards
    &__card
      text-align: center
      background-color: #fff
      border: 1px solid #e8e8e8
      padding: 0 0 2.125rem /* 34/16 */ 0
      margin-bottom: 2rem

      &--info
        padding: 49px 0 0 0
        min-height: 894px

        @media (max-width: $screen-xs)
          min-height: auto

        @media (max-width: $screen-sm)
          min-height: auto  

      &--title
        text-align: center
        font-size: 1.25rem /* 20/16 */
        font-weight: 300
        margin: 0 0 1.75rem /* 28/16 */ 0

        strong
          font-weight: 600

      &--price
        p
          font-size: 13px
          color: #000
          margin: 2rem 0 2rem /* 32/16 */ 0

          span
            font-size: 24px
            font-weight: 700
            display: block
            margin: .9375rem /* 15/16 */ 0 0 0

        .btn
          font-size: 18px
          font-weight: 600
          color: #fff
          background: #9a9a9a
          border: none
          border-radius: 5px
          width: 64.25%
          line-height: 38px
          display: block
          margin: 15px auto 0 auto
          text-decoration: none

          &.orange ~ a:hover
            background: #ff2e00
            background: -webkit-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
            background: -moz-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
            background: -ms-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
            background: -o-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
            background: -webkit-gradient(left top,left bottom,color-stop(0%,#ff2e00),color-stop(100%,#ff4c25))
            background: linear-gradient(to bottom,#ff2e00 0,#ff4c25 100%)

          &.orange
            background: #ff4c25
            background: -webkit-linear-gradient(top,#ff4c25 0,#ff2e00 100%)
            background: -moz-linear-gradient(top,#ff4c25 0,#ff2e00 100%)
            background: -ms-linear-gradient(top,#ff4c25 0,#ff2e00 100%)
            background: -o-linear-gradient(top,#ff4c25 0,#ff2e00 100%)
            background: -webkit-gradient(left top,left bottom,color-stop(0%,#ff4c25),color-stop(100%,#ff2e00))
            background: linear-gradient(to bottom,#ff4c25 0,#ff2e00 100%)

            &:hover
              background: #ff2e00
              background: -webkit-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
              background: -moz-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
              background: -ms-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
              background: -o-linear-gradient(top,#ff2e00 0,#ff4c25 100%)
              background: -webkit-gradient(left top,left bottom,color-stop(0%,#ff2e00),color-stop(100%,#ff4c25))
              background: linear-gradient(to bottom,#ff2e00 0,#ff4c25 100%)
              -webkit-box-shadow: 0 0 15px 1px #ff2e00
              -moz-box-shadow: 0 0 15px 1px #ff2e00
              -ms-box-shadow: 0 0 15px 1px #ff2e00
              -o-box-shadow: 0 0 15px 1px #ff2e00
              box-shadow: 0 0 15px 1px #ff2e00

          &.green ~ a:hover
            background: #00a300
            background: -webkit-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -moz-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -ms-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -o-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -webkit-gradient(left top,left bottom,color-stop(0%,#00a300),color-stop(100%,#008e00))
            background: linear-gradient(to bottom,#00a300 0,#008e00 100%)

          &.green
            background: #00a300
            background: -webkit-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -moz-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -ms-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -o-linear-gradient(top,#00a300 0,#008e00 100%)
            background: -webkit-gradient(left top,left bottom,color-stop(0%,#00a300),color-stop(100%,#008e00))
            background: linear-gradient(to bottom,#00a300 0,#008e00 100%)

            &:hover
              background: #008e00
              background: -webkit-linear-gradient(top,#008e00 0,#00a300 100%)
              background: -moz-linear-gradient(top,#008e00 0,#00a300 100%)
              background: -ms-linear-gradient(top,#008e00 0,#00a300 100%)
              background: -o-linear-gradient(top,#008e00 0,#00a300 100%)
              background: -webkit-gradient(left top,left bottom,color-stop(0%,#008e00),color-stop(100%,#00a300))
              background: linear-gradient(to bottom,#008e00 0,#00a300 100%)
              -webkit-box-shadow: 0 0 15px 1px #008e00
              -moz-box-shadow: 0 0 15px 1px #008e00
              -ms-box-shadow: 0 0 15px 1px #008e00
              -o-box-shadow: 0 0 15px 1px #008e00
              box-shadow: 0 0 15px 1px #008e00

          &.blue ~ a:hover
            background: #02378f
            background: -webkit-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -moz-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -ms-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -o-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -webkit-gradient(left top,left bottom,color-stop(0%,#02378f),color-stop(100%,#001c67))
            background: linear-gradient(to bottom,#02378f 0,#001c67 100%)

          &.blue
            background: #02378f
            background: -webkit-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -moz-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -ms-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -o-linear-gradient(top,#02378f 0,#001c67 100%)
            background: -webkit-gradient(left top,left bottom,color-stop(0%,#02378f),color-stop(100%,#001c67))
            background: linear-gradient(to bottom,#02378f 0,#001c67 100%)

            &:hover
              background: #001c67
              background: -webkit-linear-gradient(top,#001c67 0,#02378f 100%)
              background: -moz-linear-gradient(top,#001c67 0,#02378f 100%)
              background: -ms-linear-gradient(top,#001c67 0,#02378f 100%)
              background: -o-linear-gradient(top,#001c67 0,#02378f 100%)
              background: -webkit-gradient(left top,left bottom,color-stop(0%,#001c67),color-stop(100%,#02378f))
              background: linear-gradient(to bottom,#001c67 0,#02378f 100%)
              -webkit-box-shadow: 0 0 15px 1px #001c67
              -moz-box-shadow: 0 0 15px 1px #001c67
              -ms-box-shadow: 0 0 15px 1px #001c67
              -o-box-shadow: 0 0 15px 1px #001c67
              box-shadow: 0 0 15px 1px #001c67

      img
        margin-bottom: 2rem
    
    ul
      list-style: none
      margin: 0
      padding: 0

      li
        display: table
        width: 100%
        font-size: 11px
        padding: 12px
        border-bottom: 1px solid #f5f5f5
        line-height: 14px

        p
          text-align: left
          width: 70.632%
          display: table-cell
          vertical-align: middle

        span
          display: table-cell
          vertical-align: middle
          text-align: right
          font-weight: 600